<h1>Mensajes</h1>
<% @conections.each do |conection| %>
<%= link_to conection_path(conection) do %>
  <h2><%= conection.building %></h2>
  <h3><%= conection.name %></h3>
  <h3><%= conection.email %></h3>
  <p><%= conection.message %></p>
<% end %>
<% end %>

