<div class="login-wrapper">
  <div class="login-navbar">
    <%= link_to root_path do  %>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1585140067/san_patricio_logo.png" alt="">
    <% end %>
  </div>
  <div class="login-container">
    <div class="text-center">
      <hr class="hr-text" data-content="Cambiar Contraseña">
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="hidden">
        <%= f.input :email, required: true, autofocus: true %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <p>Nueva Contraseña </p>
      <%= f.input :password,
      hint: "Dejalo en blanco si no quieres cambiar la contraseña",
      label: false,
      required: false,
      input_html: { autocomplete: "new-password" } %>
      <p>Confirmar Contraseña</p>
      <%= f.input :password_confirmation,
      label: false,
      required: false,
      input_html: { autocomplete: "new-password" } %>
      <br><br>
      <p>Actual Contraseña</p>
      <%= f.input :current_password,
      hint: "Necesitamos tu actual contraseña para confirmar tus cambios",
      label: false,
      required: true,
      input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions pt-3">
      <%= f.button :submit, "Confirmar Cambios", class: 'btn btn-green btn-block' %>
    </div>
    <% end %>
    <p>Quieres cancelar la cuenta? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Estas seguro de que quieres cancelar?" }, method: :delete %></p>
    <div class="form-actions pt-5">
      <%= link_to "Atras", user_path(current_user), class: 'btn btn-dark btn-block' %>
    </div>
  </div>
</div>

