<%= render 'shared/main_navbar' %>
<% if current_user.admin? %>
<div class="container">
  <div class="article-new-container">
    <h2>Crear una noticia</h2>
    <%= simple_form_for(@article) do |f| %>
    <%= f.association :division%>
    <%= f.input :title %>
    <%= f.input :subtitle %>
    <%= f.input :content1 %>
    <%= f.input :content2 %>
    <%= f.input :content3 %>
    <%= f.input :url, required: false %>
    <%= f.input :photo, as: :file %>
    <%= f.input :images, as: :file, input_html: { multiple: true }, label: "Archivo PDF" %>
    <%= f.submit 'Crear Noticia', class:"btn btn-primary btn-lg btn-block " %>
    <% end %>
  </div>
</div>
<% else %>
<%= render 'shared/denied' %>
<% end %>
