
<div class="banner-articles" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1532649538693-f3a2ec1bf8bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
 <h2>Noticias</h2>
</div>
<div class="articles-navbar mb-3">
  <h2><%= link_to articles_path(category: "Jardines") do %>JARDINES <% end %></h2>
  <h2><%= link_to articles_path(category: "Primario") do %>PRIMARIO <% end %></h2>
  <h2><%= link_to articles_path(category: "Secundario") do %>SECUNDARIO<% end %></h2>
  <h2><%= link_to articles_path(category: "Institucional") do %>INSTITUCIONAL<% end %></h2>
  <h2><%= link_to "#{articles_path(category: "I.B")}#article-all" do %>I.B<% end %></h2>
  <h2><%= link_to "#{articles_path}#article-all" do %>TODOS<% end %></h2>
</div>
<section id="article-all">
  <div class="articles-wrapper">
    <div class="articles-main-container">
      <div class="main-article">
        <% @articles.last(1).each do |article| %>
        <%= render 'shared/main-cards', article: article %>
        <% end %>
      </div>
      <div class="main-article">
        <% @articles.last(2).reverse.drop(1).each do |article| %>
        <%= render 'shared/second-card', article: article %>
        <% end %>
      </div>
      <div class="main-article">
        <% @articles.last(3).reverse.drop(2).each do |article| %>
        <%= render 'shared/second-card', article: article %>
        <% end %>
      </div>
    </div>
    <div class="articles-container">
      <% @articles.last(10).reverse.drop(3).each do |article| %>
      <%= render 'shared/cards', article: article %>
      <% end %>
    </div>
  </div>
</section>


<%= link_to 'create article', new_article_path  %>

