<%= render 'shared/main_navbar' %>
<div class="banner-articles" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dw7ox75dg/image/upload/v1585588869/Captura_de_Pantalla_2020-03-30_a_la_s_12.39.44.png);">
 <h2>NOTICIAS</h2>
</div>
<div class="articles-navbar mb-3">
  <% @divisions.each do |division| %>
  <h2><%= link_to division.title.upcase,division_path(division) %></h2>
  <% end %>
  <h2><%= link_to 'TODAS', articles_path %></h2>
</div>
<div class="division-container">
  <% @articles.last(2).each do |article| %>
  <%= render 'cards/division_card', article: article %>
  <% end %>
</div>
<div class="division-container-2">
  <% @articles.drop(2).each do |article| %>
  <%= render 'cards/division_card', article: article %>
  <% end %>
</div>
