<%= render 'shared/main_navbar' %>
<% if current_user.admin? %>
<div class="container">
  <div class="article-new-container">
    <h2>Crear una noticia</h2>
    <%= simple_form_for(@article) do |f| %>
    <%= f.association :division, label: 'Categoria' %>
    <%= f.input :title, placeholder: "Titulo", required: false %>
    <%= f.input :subtitle, placeholder: "Subtitulo", required: false %>
    <%= f.input :content1, placeholder: "Primer Contenido", required: false %>
    <%= f.input :content2, placeholder: "Segundo Contenido", required: false %>
    <%= f.input :content3, placeholder: "Tercer Contenido", required: false %>
    <%= f.input :photo, as: :file %>

    <%= f.submit 'Crear Noticia', class:"btn btn-primary btn-lg btn-block " %>
    <% end %>
  </div>
</div>
<% else %>
<%= render 'shared/denied' %>
<% end %>
