<%= render 'shared/main_navbar' %>
<br><br><br><br>
<div class="container">
  <%= simple_form_for(@article) do |f| %>
  <%= f.input :category,  collection: [ "Jardines", "Primario", "Secundario", "I.B", "Institucional"] %>
  <%= f.input :title %>
  <%= f.input :subtitle %>
  <%= f.input :content1 %>
  <%= f.input :content2 %>
  <%= f.input :content3 %>
  <%= f.input :photo %>
  <%= f.submit %>
  <% end %>
</div>
