<%= render 'shared/main_navbar' %>
<div class="articles-navbar mb-3">
  <h2><%= link_to articles_path(category: "Jardines") do %>Jardines<% end %></h2>
  <h2><%= link_to articles_path(category: "Primario") do %>Primario<% end %></h2>
  <h2><%= link_to articles_path(category: "Secundario") do %>Secundario<% end %></h2>
  <h2><%= link_to articles_path(category: "Institucional") do %>Institucional<% end %></h2>
  <h2><%= link_to "#{articles_path(category: "I.B")}#article-all" do %>I.B<% end %></h2>
  <h2><%= link_to "#{articles_path}#article-all" do %>Todos<% end %></h2>
</div>
<br><br><br>
<div class="show-articles-wrapper">
  <div class="show-articles-container">
    <div class="show-articles-title">
      <h2><%= @article.title %></h2>
      <h3><%= @article.subtitle %></h3>
    </div>
    <h6><%= @article.created_at.strftime(" %d %b %Y - %I:%M %P") %></h6>

    <img src="<%= @article.photo %>" alt="">
    <p><%= @article.content1 %></p>
    <p><%= @article.content2 %></p>
    <p><%= @article.content3 %></p>
  </div>
  <div class="show-articles-footer">

  </div>
</div>
<div class="text-center mt-5">
  <%= link_to 'Mas Noticias', articles_path, class: 'btn-article'  %>
</div>

