<%= render 'shared/main_navbar' %>
<section id="show-admin-container">
  <%= render 'admin' %>
</section>
<div class="articles-navbar mb-3">
  <% @divisions.each do |division| %>
  <h2><%= link_to division.title.upcase,division_path(division) %></h2>
  <% end %>
  <h2><%= link_to 'TODAS', articles_path %></h2>
</div>
<br><br><br>
<div class="show-articles-wrapper">
  <div class="show-articles-container">
    <div class="show-articles-title">
      <h2><%= @article.title %></h2>
      <h3><%= @article.subtitle %></h3>
    </div>
    <h6><%= @article.created_at.in_time_zone("Buenos Aires").strftime(" %d %b %Y - %I:%M %P") %></h6>
    <%= cl_image_tag @article.photo.key %>
    <p><%= @article.content1 %></p>
    <p><%= @article.content2 %></p>
    <p><%= @article.content3 %></p>
    <a href="<%= @article.url %>" target='_blank'><%= @article.url %></a>
    <div class="mt-3">
      <% @article.images.each_with_index do |image, index| %>
      <%= link_to cl_image_path(image.key, flags: 'attachment'), download: "@article.title" do %>
        <p class="mb-2"><i class="fas fa-file-pdf h3 text-danger"></i> Descargar Archivo PDF <%= index + 1 %></p>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class="show-articles-footer">
  </div>
</div>
<div class="show-gallery-wrapper">
  <% @article.galleries.each do |gallery| %>
  <%= render 'shared/gallery', gallery: gallery %>
  <% end %>
</div>
<div class="text-center mt-5 mb-5">
  <%= link_to 'Mas Noticias', articles_path, class: 'btn-article'  %>
</div>
