<h2 class="title-green">TAREAS <i class="fas fa-angle-down"></i></h2>
<div class="admin-container">
  <div class="admin-links">
    <%= link_to 'CREAR NOTICIA', new_article_path, class: "btn btn-secondary btn-lg btn-block"  %>
    <%= link_to 'CREAR NOTIFICACION', new_post_path, class: "btn btn-danger btn-lg btn-block" %>
    <%= link_to 'VER NOTIFICACIONES', posts_path, class: "btn btn-primary btn-lg btn-block" %>
    <%= link_to 'CREAR EVENTO', new_event_path, class: "btn btn-dark btn-lg btn-block" %>
    <%= link_to 'VER MENSAJES', conections_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>
</div>
<h2 class="title-green">LISTA DE USUARIOS <i class="fas fa-angle-down"></i></h2>
<div class="user-table">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">N</th>
        <th scope="col">Usuario</th>
        <th scope="col">Creado</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do | user, index| %>
      <% users = index + 1 %>
      <tr>
        <th scope="row"><%= users %></th>
        <td><%= user.email %></td>
        <td><%= user.created_at.strftime('%y/%m/%Y a las %H:%m') %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
