<h2 class="title-green text-center"> Notificaciones</h2>
<div id="category_container" class="d-lg-flex justify-content-center text-center py-4">
  <% @categories.each do |category| %>
  <%= link_to category_path(category) do  %>
  <div class="category-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= category.photo %>)">
    <h2><%= category.title %></h2>
  </div>
  <% end %>
  <% end %>
</div>
<div class="container">
  <div class="post-index-container mt-3 mb-5">
    <h2>Todas</h2>
    <% @posts.each do |post| %>
    <div class="post-cards">
      <%= link_to post_path(post) do %>
        <div class="post-card-title">
          <h3><%= post.title.truncate(80) %></h3>
          <p><%= post.created_at.strftime(' %d/%m/%y') %></p>
        </div>
        <div class="post-card-content">
          <p><%= post.content %></p>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<h2 class="map-title"> Mapa del sitio</h2>
<div class="text-center map">
  <p>
    <%= link_to 'Ir a noticias', articles_path %>
  </p>
  <p>
    <%= link_to 'Historia', about_path  %>
  </p>
  <p>
    <%= link_to 'International Baccalaureate', ib_path  %>
  </p>
  <p>
    <%= link_to 'Envíanos un mensaje', new_conection_path %>
  </p>
</div>
