<%= render 'shared/main_navbar' %>
<% if current_user == @user %>
<div class="user-wrapper">
  <h1>BIENVENIDO</h1>
  <div class="user-avatar ">
    <img src="https://res.cloudinary.com/san-patricio/image/upload/c_scale,w_260/v1585504992/st-patricks-day-1272034_960_720_bxlqpj.png" alt="">
    <h2><strong>Email:</strong> <%= @user.email %></h2>
  </div>
  <div class="log-out">
   <p><%= link_to 'Editar Perfil', edit_user_registration_path %></p>
   <p><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></p>
 </div>
 <% if current_user.admin? %>
 <%= render 'adminpanel' %>
 <% else %>
 <%= render 'userpanel' %>
 <% end %>
</div>
<% else %>
<br><br>
<%= render 'shared/denied' %>
<% end %>
