<div class="login-wrapper">
  <div class="login-navbar">
    <%= link_to root_path do  %>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1585140067/san_patricio_logo.png" alt="">
    <% end %>
  </div>
  <div class="login-container">
    <div class="text-center">
      <hr class="hr-text" data-content="Olvidaste tu contraseña?">
    </div>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <p>Email</p>
      <%= f.input :email,
      label: false,
      required: true,
      autofocus: true,
      input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Recuperar contraseña", class: "btn btn-green btn-block" %>
    </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
