<%= render 'shared/main_navbar' %>
<div class="banner-articles" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= @division.photo %>);">
 <h2><%= @division.title.upcase %></h2>
</div>
<div class="articles-navbar mb-3">
  <% @divisions.each do |division| %>
  <h2><%= link_to division.title.upcase,division_path(division) %></h2>
  <% end %>
  <h2><%= link_to 'TODAS', articles_path %></h2>
</div>
<div class="article-container pb-5 mb-5">
  <% @articles.each do |article| %>
  <%= render 'cards/article_card', article: article %>
  <% end %>
</div>
