<div class="navbar navbar-expand-xl navbar-light navbar-lewagon ">
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag "https://res.cloudinary.com/dw7ox75dg/image/upload/v1585140067/san_patricio_logo.png"%>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">



    <div class="dropdown show d-none d-xl-block">
      <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sobre Nosotros
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <%= link_to 'Quiénes somos', about_path, class: 'dropdown-item' %>
        <%= link_to 'Nuestra Historia', historia_path, class: 'dropdown-item' %>
        <%= link_to 'Misión y Visión', mision_path, class: 'dropdown-item' %>
        <%= link_to 'Autoridades', autoridades_path, class: 'dropdown-item' %>
      </div>
    </div>

    <div class="dropdown show d-none d-xl-block">
      <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLinkThree" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Oferta Académica
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkThree">
        <%= link_to 'Nivel Inicial', inicial_path, class: 'dropdown-item' %>
        <%= link_to 'Nivel Primario', primario_path, class: 'dropdown-item' %>
        <%= link_to 'Nivel Secundario', secundario_path, class: 'dropdown-item' %>
        <%= link_to 'Colegio del Mundo IB', ib_path, class: 'dropdown-item' %>
      </div>
    </div>

    <div class="dropdown show d-none d-xl-block">
      <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLinkThree" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Experiencias Educativas
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkThree">
        <%= link_to 'Obras de Teatro', '#', class: 'dropdown-item' %>
        <%= link_to 'Fiesta de los Colores', '#', class: 'dropdown-item' %>
        <%= link_to 'Salidas Educativas', '#', class: 'dropdown-item' %>
        <%= link_to 'Talleres', '#', class: 'dropdown-item' %>
        <%= link_to 'Clases Abiertas', '#', class: 'dropdown-item' %>
        <%= link_to 'Bicicleteadas', '#', class: 'dropdown-item' %>
      </div>
    </div>
    <div class="d-lg-block d-xl-none">
      <a class="nav-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Sobre Nosotros
      </a>
      <div class="collapse" id="collapseExample">
        <%= link_to 'Quiénes somos', about_path, class: 'nav-link' %>
        <%= link_to 'Nuestra Historia', historia_path, class: 'nav-link' %>
        <%= link_to 'Misión y Visión', mision_path, class: 'nav-link' %>
        <%= link_to 'Autoridades', autoridades_path, class: 'nav-link' %>
      </div>

      <a class="nav-link" data-toggle="collapse" href="#collapseExampleTwo" role="button" aria-expanded="false" aria-controls="collapseExampleTwo">
        Oferta Académica
      </a>
      <div class="collapse" id="collapseExampleTwo">
        <%= link_to 'Nivel Inicial', inicial_path, class: 'nav-link' %>
        <%= link_to 'Nivel Primario', primario_path, class: 'nav-link' %>
        <%= link_to 'Nivel Secundario', secundario_path, class: 'nav-link' %>
        <%= link_to 'Colegio del Mundo IB', ib_path, class: 'nav-link' %>
      </div>

      <a class="nav-link" data-toggle="collapse" href="#collapseExampleThree" role="button" aria-expanded="false" aria-controls="collapseExampleThree">
        Experiencias Educativas
      </a>
      <div class="collapse" id="collapseExampleThree">
        <%= link_to 'Obras de Teatro', '#', class: 'nav-link' %>
        <%= link_to 'Fiesta de los Colores', '#', class: 'nav-link' %>
        <%= link_to 'Salidas Educativas', '#', class: 'nav-link' %>
        <%= link_to 'Talleres', '#', class: 'nav-link' %>
        <%= link_to 'Clases Abiertas', '#', class: 'nav-link' %>
        <%= link_to 'Bicicleteadas', '#', class: 'nav-link' %>
      </div>
    </div>


    <%= link_to "Novedades", articles_path, class: "nav-link" %>
    <%= link_to "Contacto", new_conection_path, class: "nav-link" %>
  </div>
</div>

