<%= render 'shared/main_navbar' %>
<% if current_user.admin? %>
<div class="container p-5 mt-5">
  <div class="d-flex justify-content-between aling-items-center">
    <h1>Crear eventos</h1>
    <h1><%= link_to 'Atras', :back, class: 'btn btn-danger'  %></h1>
  </div>
  <%= simple_form_for(@event) do |f| %>
  <%= f.input :title, required: false %>
  <%= f.input :description, required: false %>
  <%= f.input :location, input_html: { class: "form-control form-control-lg"}, label: 'Edificio' , collection: ['Administracion', 'Jardines', 'Primario', 'Secundario'], required: false%>
  <%= f.input :address, required: false %>
  <%= f.input :date, required: false %>
  <%= f.input :time, required: false %>
  <%= f.input :photo, as: :file %>
  <%= f.submit class: 'btn btn-primary btn-lg btn-block'%>
  <% end %>
  <br><br>

</div>
<% else %>
<%= render 'shared/denied' %>
<% end %>
