<%= simple_form_for(@event) do |f| %>
<%= f.input :title %>
<%= f.input :description %>
<%= f.input :location, input_html: { class: "form-control form-control-lg"}, label: 'Edificio' , collection: ['Administracion', 'Jardines', 'Primario', 'Secundario', 'Online']%>
<%= f.input :address %>
<%= f.input :date %>
<%= f.input :time %>
<%= f.input :photo, as: :file %>
<%= f.submit 'Crear evento', class: "btn btn-primary btn-block mb-3" %>
<div class="text-right pt-3">
  <%= link_to 'Volver', user_path(current_user), class: "btn btn-secondary" %>
</div>
<% end %>
