
<div class="show-event-container">
  <div class="show-event-content">
    <h2><%= @event.title %></h2>
    <div class="show-event-img">
      <img src="<%= @event.photo %>" alt="">
    </div>
    <div class="show-event-time">
      <p><i class="far fa-calendar-alt"></i> <strong style="color: black;"><%= @event.date.strftime(' %d/%m/%y') %></strong></p>
      <p><i class="far fa-clock"></i> <%= @event.time.in_time_zone("Buenos Aires").strftime('%H:%M') %> </p>
      <%= link_to 'agregar al calendario', '#'  %>
      <h4><i class="fas fa-map-marker-alt"></i> Las acasias 2304</h4>
    </div>
  </div>
  <div class="event-footer">
    <h2>Detalles del evento:</h2>
    <h3><%= @event.title %></h3>
    <p><%= @event.description %></p>
    <h3><i class="far fa-calendar-alt"></i><%= @event.date.strftime(' %d/%m/%y') %></h3>
    <h3><i class="far fa-clock"></i> <%= @event.time.in_time_zone("Buenos Aires").strftime('%H:%M') %></h3>
  </div>
</div>








