<%= render 'shared/main_navbar' %>
<br> <br><br><br>
<div class="show-event-container">
  <div class="show-event-img">
    <img src="<%= @event.photo %>" alt="">
  </div>
  <div class="show-event-container">
    <h2><%= @event.title %></h2>
  </div>
</div>
<div class="show-event-container">
  <div class="show-date">
    <p><i class="far fa-calendar-alt"></i> <strong style="color: grey;"><%= @event.date.strftime(' %d/%m/%y') %></strong></p>
    <p><i class="far fa-clock"></i> <strong style="color: grey;"> <%= @event.time.in_time_zone("Buenos Aires").strftime('%H:%M') %></strong> </p>
  </div>
  <div class="show-event-container">
    <h2><%= @event.description %></h2>
    <p><i class="far fa-calendar-alt"></i> <strong style="color: grey;"><%= @event.date.strftime(' %d/%m/%y') %></strong></p>
    <p><i class="far fa-clock"></i> <strong style="color: grey;"> <%= @event.time.in_time_zone("Buenos Aires").strftime('%H:%M') %></strong> </p>
  </div>
</div>


