<div id="carouselPrimario" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselPrimario" data-slide-to="0" class="active"></li>
    <li data-target="#carouselPrimario" data-slide-to="1"></li>
    <li data-target="#carouselPrimario" data-slide-to="2"></li>
    <li data-target="#carouselPrimario" data-slide-to="3"></li>
    <li data-target="#carouselPrimario" data-slide-to="4"></li>
    <li data-target="#carouselPrimario" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_700/v1696274039/primario_1_km6udr.jpg", :quality=>'auto', class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_700/v1696274041/primario_2_vlrsqb.jpg", :quality=>'auto', class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_700/v1696274052/primario_3_goklns.jpg", :quality=>'auto', class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,h_500,w_700/v1696274039/primario_6_z4gbbx.jpg", :quality=>'auto', class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_700/v1696274039/primario_7_ck1cvd.jpg", :quality=>'auto', class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_700/v1696274040/primario_8_yjyod3.jpg", :quality=>'auto', class: "d-block w-100")%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselPrimario" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselPrimario" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
