<div id="carouselSecundario" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselSecundario" data-slide-to="0" class="active"></li>
    <li data-target="#carouselSecundario" data-slide-to="1"></li>
    <li data-target="#carouselSecundario" data-slide-to="2"></li>
    <li data-target="#carouselSecundario" data-slide-to="3"></li>
    <li data-target="#carouselSecundario" data-slide-to="4"></li>
    <li data-target="#carouselSecundario" data-slide-to="5"></li>
    <li data-target="#carouselSecundario" data-slide-to="6"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_700/v1696274141/secundario_1_cz8jeo.jpg", :quality=>'auto', class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_700/v1696274139/secundario_2_oi5uh7.jpg", :quality=>'auto', class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_700/v1696274149/secundario_3_hsxmo6.jpg", :quality=>'auto', class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_700/v1696274142/secundario_4_genrjn.jpg", :quality=>'auto', class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_700/v1696274137/secundario_5_ab6buc.jpg", :quality=>'auto', class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_700/v1696274137/secundario_6_rwkuhi.jpg", :quality=>'auto', class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_700/v1696274138/secundario_8_mpy0tz.jpg", :quality=>'auto', class: "d-block w-100")%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselSecundario" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselSecundario" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
