<div id="carouselSemana" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselSemana" data-slide-to="0" class="active"></li>
    <li data-target="#carouselSemana" data-slide-to="1"></li>
    <li data-target="#carouselSemana" data-slide-to="2"></li>
    <li data-target="#carouselSemana" data-slide-to="3"></li>
    <li data-target="#carouselSemana" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_700/v1701451531/natu1_cq1agm.jpg", :quality=>'auto', class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_700/v1701451531/natu2_qczfwd.jpg", :quality=>'auto', class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_700/v1701451531/natu3_sd7b5y.jpg", :quality=>'auto', class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_700/v1701451532/natu4_b7o7qk.jpg", :quality=>'auto', class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_700/v1701451532/natu5_dlxm9h.jpg", :quality=>'auto', class: "d-block w-100")%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselSemana" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselSemana" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
