<%= render 'shared/main_navbar'%>
<div class="about-container">
  <div class="nav-tab">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <%= link_to 'Quienes Somos', about_path, class: 'nav-link active' %>
      <%= link_to 'Nuestra Historia', historia_path, class: 'nav-link' %>
      <%= link_to 'Autoridades', autoridades_path, class: 'nav-link' %>
    </div>
  </div>
  <div class="nav-tab-content">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="mission-container">
       <div class="about-image-cards">
          <button data-toggle="modal" data-target=".bd-example-modal-lg">
            <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_600/v1690468588/FOTO_1_quienes_somos_sovzi5.jpg", :quality=>'auto')%>
          </button>
          <button data-toggle="modal" data-target=".bd-example-modal-lg">
            <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_600/v1690468593/FOTO_2_quienes_somos_sfryxw.jpg", :quality=>'auto')%>
          </button>
          <button data-toggle="modal" data-target=".bd-example-modal-lg">
            <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,e_auto_color,o_80,q_50,w_800/v1690468593/FOTO_3_quienes_somos_tgzakh.jpg", :quality=>'auto')%>
          </button>
       </div>

        <p class="pt-4">Fundado en 1976 por un grupo de cinco profesoras que soñaban con enseñar inglés desde temprana edad como una herramienta para el futuro, el Colegio San Patricio es una institución educativa pública de gestión privada ubicada en el corazón de Yerba Buena, provincia de Tucumán, Argentina.</p>
        <p>El colegio ofrece los tres niveles de educación escolar: inicial (desde jardín de 3 años), primario y secundario. Se caracteriza por enseñar inglés como segunda lengua, iniciando la formación desde los 3 años de edad.</p>
        <p>Forma parte desde 1988 del Bachillerato Internacional (IB), una organización que propone una forma innovadora de enseñar y aprender, de pensar y de ver el mundo. Convertirse en Colegio del Mundo del IB supone unirse a más de 4.500 colegios de todo el mundo que comparten una misma mirada y una educación excepcional.</p>
        <p class="font-weight-bold">Objetivos:</p>
        <p>Nuestra institución privilegia la consecución de cinco valores: Libertad, Responsabilidad, Justicia, Fortaleza y Solidaridad. Estos cinco pilares fundamentales organizan la vida institucional y la participación de sus miembros para alcanzar lo que se propone:</p>
        <ul>
          <li>Brindar una sólida formación en valores que genere oportunidades para pensar y obrar con criterios personales basados en principios éticos y espirituales.</li>
          <li>Trabajar, desde los jardines y hasta el último año del secundario, en la educación de las emociones como un capital esencial para la adquisición de cualquier saber, para la relación con uno mismo, con los demás y para el desempeño en una sociedad cada vez más compleja.</li>
          <li>Comprender la sexualidad como algo integral que abarca diversos aspectos del ser humano y que se basa en el respeto absoluto por nuestro cuerpo y por el del prójimo.</li>
          <li>Contribuir a la formación de personas comprometidas con la participación social y comunitaria, con sentido crítico para generar cambios orientados hacia el bien común.</li>
          <li>Proporcionar una sólida formación científica y humanística que permita al egresado participar activa, reflexiva y críticamente en los diversos ámbitos de la vida social.</li>
          <li>Proporcionar las oportunidades para el aprendizaje del inglés como segunda lengua a fines de lograr la comunicación e intercambio cultural.</li>
          <li>Contribuir en la inserción del egresado como ciudadano consciente de los derechos y deberes de las personas, comprometido con la realidad nacional y con apertura a la comprensión de la cultura global.</li>
        </ul>
        <p class="font-weight-bold">Nuestro Programa de Inglés</p>
        <p>La comprensión íntima y profunda de nuestra propia identidad, de la interdependencia entre las comunidades del planeta y el manejo de la lengua inglesa como medio de llegar a apreciar las diferencias se han vuelto esenciales para la educación integral del ciudadano del mundo.</p>
        <p>La misión del programa de inglés del colegio es promover a través del estudio de esta lengua:</p>
        <ul>
          <li>La exploración y valoración de capacidades propias que llevan al fortalecimiento de la autoestima.</li>
          <li>La apreciación de perspectivas multiculturales y del desarrollo de una comprensión global de las relaciones económicas, culturales y éticas.</li>
          <li>La promoción del respeto, la aceptación y celebración de las diferencias que hacen a la identidad y culturas de otros grupos étnicos, sociales, económicos, religiosos y culturales. </li>
          <li>La exploración de los valores humanos universales a través de la literatura en la lengua inglesa.</li>
        </ul>
        <p class="font-weight-bold">Perfil del Egresado:</p>
        <p>Formamos personas que al egresar puedan</p>
        <ol>
          <li>Pensar y actuar en la vida de acuerdo con principios orientados hacia fines trascendentes</li>
          <li>Integrarse activamente a la sociedad como productor responsable, respetando al prójimo y actuando con principios democráticos.</li>
          <li>Pensar y comunicarse adecuadamente utilizando los sistemas de lenguaje oral, escrito, matemático, corporal y artístico.</li>
          <li>Utilizar con responsabilidad los medios que la tecnología pone a su alcance.</li>
          <li>Adquirir, integrar y aplicar conocimientos provenientes de los distintos campos del saber.</li>
          <li>Contribuir activamente a la transformación del medio social y cultural, aceptando la diversidad y aportando su potencial para que la vida sea más humana.</li>
          <li>Tener una mirada global y una forma de pensar y entender el mundo que trascienda su realidad concreta.</li>
          <li>Comprometerse activamente con el bienestar de la comunidad a través de valores adquiridos como la solidaridad, la justicia y la empatía.</li>
        </ol>
      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'about_carousel'%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
