<%= render 'shared/main_navbar' %>
<div class="about-container">
  <div class="nav-tab">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <%= link_to 'Quienes Somos', about_path, class: 'nav-link ' %>
      <%= link_to 'Nuestra Historia', historia_path, class: 'nav-link' %>
      <%= link_to 'Misión y Visión', mision_path, class: 'nav-link' %>
      <%= link_to 'Autoridades', autoridades_path, class: 'nav-link active' %>
    </div>
  </div>
  <div class="nav-tab-content">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="mission-container">
        <h2 class="text-center py-5">Autoridades</h2>
        <div class="autoridades-container">
          <div class="autoridades-card">
            <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_400/v1690468549/3._Prof._Toma%CC%81s_Nores_Rector_del_Nivel_Secundario_sfxdbf.jpg", :quality=>'auto', class: 'rounded')%>
            <h3>Profesor Tomas Nores</h3>
            <p>Rector Nivel Secundario</p>
          </div>
          <div class="autoridades-card">
            <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_400/v1690468553/4._Prof._Silvina_Denegri_Vicerrectora_del_Nivel_Secundariojpg_o0oxh0.jpg", :quality=>'auto')%>
            <h3>Profesora Silvina Denegri</h3>
            <p>Vicerrectora Nivel Secundario</p>
          </div>
          <div class="autoridades-card">
            <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_400/v1690468553/2._Prof._Javier_Dos_Santos_Director_del_Nivel_Primario_g59dly.jpg", :quality=>'auto')%>
            <h3>Profesor Javier Dos Santos</h3>
            <p>Director Nivel Primario</p>
          </div>
          <div class="autoridades-card">
            <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_400/v1690468550/1._Prof._Alejandra_Poliche_de_Andreozzi_Directora_del_Nivel_Inicial_u3vtu2.jpg", :quality=>'auto')%>
            <h3>Profesora Alejandra Poliche</h3>
            <p>Directora Nivel Inicial</p>
          </div>
          <div class="autoridades-card">
            <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_400/v1690468557/6._Prof._Mauro_Juliano_Coordinador_IB_Nivel_Secundario_vnncsb.jpg", :quality=>'auto')%>
            <h3>Profesor Mauro Juliano</h3>
            <p>Coordinador IB Nivel Secundario</p>
          </div>
          <div class="autoridades-card">
            <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_400/v1690468548/5._Prof._Isolina_Catala%CC%81n_Coordora_IB_Niveles_Inicial_y_Primario_zqcny1.jpg", :quality=>'auto')%>
            <h3>Profesora Isolina Catalan</h3>
            <p>Coordinadora IB Nivel Inicial y Primario</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
