<%= render 'shared/main_navbar' %>
<div class="container pt-5">
  <h2 class="mt-5 pt-5 pb-5 text-center">Experiencia educativa</h2>
  <section id="actividades_deportivas">
    <div class="oferta-academica-card mb-5">
      <%= render 'bicycle_carousel' %>
      <div class="ml-lg-3">
        <h3>Actividades Deportivas y Recreativas</h3>
        <p>Las actividades recreativas y deportivas forman parte del día a día en todos los niveles de nuestro colegio, entendiendo que el cuidado del cuerpo y el esparcimiento a través del juego, son herramientas muy importantes para el aprendizaje y desarrollo personal. Ejemplos de este tipo de actividades son las tradicionales bicicleteadas del Nivel Inicial; la Fiesta de los Colores en el Primario y los Intercolegiales y Semana del Colegio en el secundario.</p>
      </div>
    </div>
  </section>
  <section id="clases_abiertas">
    <div class="oferta-academica-card mb-5">
      <%= render 'clases_carousel' %>
      <div class="ml-lg-3">
        <h3>Clases Abiertas</h3>
        <p>Ofrecemos clases abiertas como una oportunidad para brindar un espacio de disfrute compartiendo el aprendizaje de conocimientos y habilidades. Consideramos fundamental el acompañamiento de las familias durante el proceso de formación de nuestros niños.</p>
      </div>
    </div>
  </section>
  <section id="fiesta_colores">
    <div class="oferta-academica-card mb-5">
      <%= render 'colors_carousel' %>
      <div class="ml-lg-3">
        <h3>Fiesta de los Colores</h3>
        <p>Nuestra tradicional Fiesta de los Colores es una divertida jornada anual en la que participan todos los alumnos de Nivel Primario y sus padres. Impulsamos la sana competencia, el trabajo en equipo y el sentimiento de pertenencia a través de deportes, juegos recreativos y actividades artísticas.</p>
      </div>
    </div>
  </section>
  <section id="obras_teatro">
    <div class="oferta-academica-card mb-5">
      <%= render 'obras_carousel' %>
      <div class="ml-lg-3">
        <h3>Obras de Teatro</h3>
        <p>Las obras de Teatro cada fin de año en el nivel inicial,El <strong>concert</strong> de 3er grado y al culminar el nivel primario en 6to grado son, desde hace muchos años, instancias de profundo aprendizaje para nuestros alumnos. A modo de cierre de ciclos, nuestros niños se lucen sobre el escenario demostrando tanto sus aprendizajes artísticos como sus capacidades de trabajar en equipo y expresarse en inglés.</p>
      </div>
    </div>
  </section>
  <section id="salidas_educativas">
    <div class="oferta-academica-card mb-5">
      <%= render 'salidas_carousel' %>
      <div class="ml-lg-3">
        <h3>Viajes y Salidas Educativas</h3>
        <p>Entendemos que el aprendizaje en el aula debe siempre complementarse con experiencias reales y significativas en diversos lugares como plazas, museos, reservas naturales, fábricas y otros espacios que posibiliten indagar y explorar de forma auténtica. Asimismo, conocer otros lugares de la Argentina, su gente y características regionales permite ampliar el conocimiento de nuestros niños y jóvenes sobre su país, favorecer el concepto de globalidad y fortalecer lazos entre ellos en una experiencia única.</p>
      </div>
    </div>
  </section>
  <section id="contacto_naturaleza">
    <div class="oferta-academica-card mb-5">
      <%= render 'semana_carousel' %>
      <div class="ml-lg-3">
        <h3>Contacto con la Naturaleza</h3>
        <p>Propiciar el contacto con la naturaleza es una forma de aprender muchos contenidos vistos en clase y es, sobre todo, la mejor manera de apreciar, valorar y cuidar el entorno que nos rodea. Una caminata, la visita a un parque cercano, a un jardín botánico, a una plantación, una investigación en un espacio verde, mejoran el estado de ánimo, generan alegría, energía y calma interior y contribuyen al desarrollo cognitivo de los niños.</p>
      </div>
    </div>
  </section>
  <section id="arte_creatividad">
    <div class="oferta-academica-card mb-5">
      <%= render 'books_carousel' %>
      <div class="ml-lg-3">
        <h3>Arte y Creatividad</h3>
        <p>Nuestra institución valora muchísimo el crecimiento personal y colectivo de nuestros alumnos a través de las artes y la creatividad y fomenta de forma constante acciones vinculadas con estas increíbles formas de ver el mundo, sentir y expresarse. Bibliotecas “vivas”, esperando con ansias a sus lectores;  semanas enteras dedicadas al Libro y a las artes; espectáculos de danza, folklore y títeres; talleres de música, cocina y manualidades, un coro maravilloso formado por niños de nuestro primario, son algunos de tantos ejemplos.</p>
      </div>
    </div>
  </section>
  <section id="talleres">
    <div class="oferta-academica-card mb-5">
      <%= render 'talleres_carousel' %>
      <div class="ml-lg-3">
        <h3>Talleres y Exposiciones</h3>
        <p>Presente en todos los niveles de nuestro colegio, los talleres y exposiciones son un recurso muy utilizado para afianzar conocimientos adquiridos y poder compartirlos con las familias y con la comunidad. En muchas ocasiones, especialistas en diferentes rubros son invitados para dar una capacitación específica, oportunidad que nuestros alumnos aprovechan para resolver dudas y curiosidades.</p>
      </div>
    </div>
  </section>
</div>
