<%= render 'shared/main_navbar' %>
<div class="about-container">
  <div class="nav-tab">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <%= link_to 'Quienes Somos', about_path, class: 'nav-link ' %>
      <%= link_to 'Nuestra Historia', historia_path, class: 'nav-link active' %>
      <%= link_to 'Autoridades', autoridades_path, class: 'nav-link ' %>
    </div>
  </div>
  <div class="nav-tab-content">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="mission-container">

        <div class="py-5 px-2" id="sponsors">
          <div class="d-none d-md-block" id="carousel-desktop">
            <div id="carouselExampleIndicators" class="carousel slide py-5" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              </ol>

              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="d-flex justify-content-center">
                    <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_796/v1693314923/1_mmiaao.jpg", :quality=>'auto')%>
                    <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_800/v1693314923/2_o1s9vz.jpg", :quality=>'auto')%>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-flex justify-content-center">
                    <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_800/v1693314923/3_kt6gzj.jpg", :quality=>'auto')%>
                    <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_800/v1693314924/4_eohapm.jpg", :quality=>'auto')%>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-flex justify-content-center">
                    <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_800/v1693314924/5_z3qwaj.jpg", :quality=>'auto')%>
                    <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_800/v1693314924/6_xewjar.jpg", :quality=>'auto')%>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-flex justify-content-center">
                    <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_800/v1693314924/7_fvz8iu.jpg", :quality=>'auto')%>
                    <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_800/v1693314924/8_s7ltzh.jpg", :quality=>'auto')%>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="d-md-none" id="carousel-mobile">
            <div id="carouselMobile" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselMobile" data-slide-to="0" class="active"></li>
                <li data-target="#carouselMobile" data-slide-to="1"></li>
                <li data-target="#carouselMobile" data-slide-to="2"></li>
                <li data-target="#carouselMobile" data-slide-to="3"></li>
                <li data-target="#carouselMobile" data-slide-to="4"></li>
                <li data-target="#carouselMobile" data-slide-to="5"></li>
                <li data-target="#carouselMobile" data-slide-to="6"></li>
                <li data-target="#carouselMobile" data-slide-to="7"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="d-flex justify-content-center">
                    <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_796/v1693314923/1_mmiaao.jpg", :quality=>'auto')%>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-flex justify-content-center">
                    <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_800/v1693314923/2_o1s9vz.jpg", :quality=>'auto')%>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-flex justify-content-center">
                    <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_800/v1693314923/3_kt6gzj.jpg", :quality=>'auto')%>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-flex justify-content-center">
                    <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_800/v1693314924/4_eohapm.jpg", :quality=>'auto')%>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-flex justify-content-center">
                    <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_800/v1693314924/5_z3qwaj.jpg", :quality=>'auto')%>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-flex justify-content-center">
                    <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_800/v1693314924/6_xewjar.jpg", :quality=>'auto')%>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-flex justify-content-center">
                    <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_800/v1693314924/7_fvz8iu.jpg", :quality=>'auto')%>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-flex justify-content-center">
                    <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_800/v1693314924/8_s7ltzh.jpg", :quality=>'auto')%>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev d-none" href="#carouselMobile" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next d-none" href="#carouselMobile" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        <div class="container">
          <p>La historia de nuestro colegio se remonta al año 1976 en la ciudad de San Miguel de Tucumán, Argentina, cuando un grupo de mujeres soñadoras decidió embarcarse en una empresa cuyo resultado era, para ellas mismas, inimaginable. Las fundadoras eran docentes con un gran compromiso con la educación y una mirada vanguardista.</p>
          <p>Respondiendo a su espíritu soñador, el nuevo jardín de infantes ubicado en calle Laprida en San Miguel de Tucumán se llamó <strong>Robin Hood</strong>. Éste contaba con salas de 3, 4 y 5 años. Luego, con el deseo de que sus pequeños alumnos pudiesen continuar su intensiva educación bilingüe, se crea un primer grado y posteriormente el Nivel Primario en una pequeña y antigua casa en Yerba Buena, cambiando el nombre de la institución por <strong>Colegio San Patricio</strong>. En ese momento se decide implementar la doble jornada, ofreciendo un aprendizaje inmersivo en inglés durante la tarde, algo muy novedoso para una región acostumbrada a la educación de jornada simple.</p>
          <p>En el año 1985, se inaugura el Nivel Secundario con la visión de formar personalidades fuertes y responsables, capaces de tomar decisiones libres y justas. En 1988, impulsado por el interés en la excelencia académica, la filosofía del programa y el holístico perfil de alumno que desarrolla,  el colegio se une a la Organización de Bachillerato Internacional implementando el Programa de Diploma. La primera cohorte de estudiantes con diploma internacional egresa en 1989. Convertirse en un colegio del Mundo IB fue una gran apuesta a la formación de ciudadanos responsables, críticos, indagadores, flexibles y de mentalidad abierta e internacional.</p>
          <p>Siempre caracterizado por un perfil innovador y luego de varias décadas de incansable trabajo y sostenido crecimiento, nuestro colegio cuenta hoy con una jornada extendida durante toda la semana y cómodas instalaciones de Nivel Inicial, Primario y Secundario. Las mismas incluyen edificios de comedor, campus de deportes, salas de informática, laboratorios, bibliotecas y salones de usos múltiples. Dentro de nuestros establecimientos, un gran grupo de profesionales trabaja incesantemente para brindar a los estudiantes enriquecedoras experiencias de aprendizaje que abarcan la formación académica, artística y emocional.</p>
          <p class="text-right font-weight-bold" style="font-size: 13px;">Información extraída de la reconstrucción histórica realizada por el alumno Lucas Apud Rubio</p>
          <p class="text-right font-weight-bold" style="font-size: 13px;">Promoción 2023</p>
        </div>
      </div>
    </div>
  </div>
</div>
