<%= render 'shared/navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1576495199011-eb94736d05d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80);">
  <div class="banner-container">
      <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1585139240/unnamed.png" alt="" style="width: 600px;">
      <h2>Colegio <strong>SAN PATRICIO</strong> </h2>
      <p>Fundado en 1976</p>
  </div>


</div>
<section id="articles">
  <div class="home-container">
    <h3>San Patricio Hoy</h2>
      <p>Las ultimas noticias del colegio</p>
      <div class="articles-wrapper">
        <div class="articles-main-container">
          <div class="main-article">
            <% @articles.last(1).each do |article| %>
            <%= render 'shared/main-cards', article: article %>
            <% end %>
          </div>
          <div class="main-article">
            <% @articles.last(2).reverse.drop(1).each do |article| %>
            <%= render 'shared/second-card', article: article %>
            <% end %>
          </div>
          <div class="main-article">
            <% @articles.last(3).reverse.drop(2).each do |article| %>
            <%= render 'shared/second-card', article: article %>
            <% end %>
          </div>
        </div>
        <div class="articles-container">
          <% @articles.last(5).reverse.drop(2).each do |article| %>
          <%= render 'shared/cards', article: article %>
          <% end %>
        </div>
      </div>
      <div class="article-button">
        <%= link_to 'Todas las noticias', articles_path, class: "btn-article"  %>
      </div>
    </div>
  </section>
  <section id="ib">
    <%= render 'shared/ib' %>
  </section>
  <section id="events">
    <div class="home-event-wrapper">
      <h4>Eventos</h4>
      <div class="event-container-home">
        <% @events.each do |event| %>
        <%= render 'shared/event_card', event: event %>
        <% end %>
      </div>
      <div class="article-button">
        <%= link_to 'Todos los eventos', events_path, class: "btn-article"  %>
      </div>
    </div>
  </section>
  <section id="social">
    <%= render 'shared/social' %>
  </section>
