<%= render 'shared/top' %>
<%= render 'shared/navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_1317/v1589459748/San%20patricio/IMG_3902-01.jpg);">
  <div class="banner-container">
    <div class="banner-image">
      <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1588966208/loguito.png" alt="">
      <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1584881920/ib-world-school-logo-1-colour-rev.png" alt="" style="height: 150px;">
    </div>
    <p>
      <span id="banner-typed-text-secondary"></span>
    </p>
  </div>
</div>
<section>
  <div class="home-container">
    <h3>El Colegio</h3>
    <div class="container text-center">
      <p class="text-center px-5 py-5">El Colegio San Patricio fue fundado en el año 1976, está situado en la ciudad de Yerba Buena, provincia de Tucumán.El colegio se encuadra dentro de los colegios no confesionales, aunque acredita un acervo tradicional católico. Es mixto, bilingüe, de doble escolaridad.Es pluralista en varios aspectos: racial, religioso, social, etc. Abierto al diálogo y la comprensión global, ya que es un colegio miembro de “ Organización del Bachillerato Internacional".</p>
      <div class="image-container-homepage">
        <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_752/v1614961250/Portada_posible_4.jpg" alt="">
        <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1593013081/1USCPxGwCsYKXWj7SXrbGiTD.jpg" alt="">
        <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_626/v1614961438/Decorativa1.jpg" alt="">
        <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_689/v1614962160/IMG_3964-01.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<section id="articles">
  <%= render 'shared/articles' %>
</section>
<section id="ib">
  <%= render 'shared/ib' %>
</section>
<section id="events">
  <div class="home-container">
    <h3>CALENDARIO</h3>
    <h5>Los proximos eventos del colegio <i class="fas fa-caret-down"></i></h5>
    <div class="event-container-home">
      <% @events.each do |event| %>
      <%= render 'cards/event_main_cards', event: event %>
      <% end %>
    </div>
    <div class="article-button">
      <%= link_to 'EVENTOS', events_path, class: "btn-article"  %>
    </div>
  </div>
</section>
<section id="social">
  <%= render 'shared/social' %>
</section>
<section>
  <div class="text-center">
    <p style="color: #F4F4F4;">p</p>
  </div>
</section>
