<%= render 'shared/main_navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dw7ox75dg/image/upload/v1585588869/Captura_de_Pantalla_2020-03-30_a_la_s_14.17.33.png);">
  <div class="banner-container">
    <!-- <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1585139240/unnamed.png" alt=""> -->
    <h1>Colegio <strong>SAN PATRICIO</strong></h1>
    <p>Fundado en 1976</p>
  </div>
</div>
<section id="articles">
  <%= render 'shared/articles' %>
</section>
<section id="ib">
  <%= render 'shared/ib' %>
</section>
<section id="events">
  <div class="home-container">
    <h3>CALENDARIO</h3>
    <h5>Los proximos eventos del colegio <i class="fas fa-caret-down"></i></h5>
    <div class="event-container-home">
      <% @events.each do |event| %>
      <%= render 'cards/event_main_cards', event: event %>
      <% end %>
    </div>
    <div class="article-button">
      <%= link_to 'EVENTOS', events_path, class: "btn-article"  %>
    </div>
  </div>
</section>
<section id="social">
  <%= render 'shared/social' %>
</section>
<section>
  <div class="text-center">
    <p style="color: #F4F4F4;">p</p>
  </div>
</section>
