<%= render 'shared/main_navbar' %>
<div class="video-container">
  <div class="container pt-5">
    <h2 class="text-center font-weight-bold pt-md-5 mt-md-5 mb-m-5">INTERNATIONAL BACCALAUREATE</h2>
    <div class="ib-cards">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_600/v1698759528/WhatsApp_Image_2023-08-30_at_10.16.36_7_c10khp.jpg", :quality=>'auto')%>
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_400/v1690558044/ib-3_ubrr7l.jpg", :quality=>'auto')%>
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_600/v1698760842/Trabajando_en_Biblioteca_mara6a.jpg", :quality=>'auto')%>
    </div>
    <p>Formar parte de los Colegios del Mundo del Bachillerato Internacional (IB) supone unirse a más de 4.500 colegios de todo el mundo que imparten los programas del IB, así como formar parte de una comunidad de educadores en constante crecimiento y desarrollo. La implementación del IB, única en su género, se ve fortalecida gracias a la relación que mantenemos con colegios, gobiernos y organizaciones internacionales de todo el mundo.</p>
    <p>El perfil de la comunidad de aprendizaje del Bachillerato Internacional es la expresión de un amplio abanico de capacidades y responsabilidades humanas que van más allá del éxito académico.</p>
    <div class="ib-image-center">
      <%= cl_image_tag('https://res.cloudinary.com/dmbom1kyl/image/upload/v1701449069/Perfil_Comunidad_IB_ciqxfc.jpg', :quality=>'auto')  %>
    </div>
    <p>Los alumnos de los Colegios del Mundo del IB reciben una educación en la que:</p>
    <ul>
      <li>Se les anima a pensar críticamente y a resolver problemas complejos.</li>
      <li>Cursan programas educativos que pueden ayudarlos a ingresar en algunas de las universidades más prestigiosas del mundo.</li>
      <li>Pueden relacionarse con otras personas en un mundo cada vez más globalizado y cambiante.</li>
    </ul>
    <p>Se trata de una pedagogía que goza de reconocimiento por formar alumnos cuya motivación sea continuar indagando y aprendiendo durante toda su vida, incluso después de concluir sus estudios en el colegio.</p>
    <p>La educación que se imparte explora contenidos significativos, lo cual desarrolla una comprensión disciplinaria e interdisciplinaria que cumple con estándares internacionales rigurosos. Los profesores apoyan a los alumnos y potencian sus capacidades, celebrando las muchas formas en que las personas trabajan juntas para construir significado y comprender el mundo.</p>
    <div class="ib-cards">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_600/v1698759528/WhatsApp_Image_2023-08-30_at_10.16.36_6_ymbzru.jpg", :quality=>'auto')%>
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_400/v1690558044/ib-4_mrfboq.jpg", :quality=>'auto')%>
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_400/v1690558044/ib-6_ho8zdw.jpg", :quality=>'auto')%>
    </div>
    <p>En los programas del IB, los estudiantes no sólo aprenden datos, sino que desarrollan habilidades y alcanzan comprensiones conceptuales profundas, estableciendo conexiones entre las distintas áreas del conocimiento. Aprenden a pensar, a buscar distintos caminos para resolver problemas.</p>
    <p class="pb-5">El colegio San Patricio forma parte de la Organización del Bachillerato Internacional desde 1988. Fue pionero en ofrecer esta propuesta educativa de calidad en el interior del país y sigue siendo, al día de hoy, el único colegio de Tucumán que brinda esta oferta académica. Asimismo, está apostando por implementar la pedagogía del IB en todos sus niveles educativos.
    </p>
  </div>
</div>











