<%= render 'shared/main_navbar' %>
<div class="video-container">
  <div class="container pt-5">
    <h2 class="text-center font-weight-bold pt-md-5 mt-md-5 mb-m-5">INTERNATIONAL BACCALAUREATE</h2>
    <p>Formar parte de los Colegios del Mundo del Bachillerato Internacional (IB) supone unirse a más de 4.500 colegios de todo el mundo que imparten los programas del IB, así como formar parte de una comunidad de educadores en constante crecimiento y desarrollo. La implementación del IB, única en su género, se ve fortalecida gracias a la relación que mantenemos con colegios, gobiernos y organizaciones internacionales de todo el mundo.</p>
    <p>El perfil de la comunidad de aprendizaje del Bachillerato Internacional es la expresión de un amplio abanico de capacidades y responsabilidades humanas que van más allá del éxito académico. Cada uno de los programas del IB está comprometido con el desarrollo de dicho perfil, que tiene como objetivo formar alumnos que sean: </p>
    <ul>
      <li>Indagadores</li>
      <li>Informados e instruidos</li>
      <li>Pensadores</li>
      <li>Buenos comunicadores</li>
      <li>Íntegros</li>
      <li>De mentalidad abierta</li>
      <li>Solidarios</li>
      <li>Audaces</li>
      <li>Equilibrados</li>
      <li>Reflexivos</li>
    </ul>
    <div class="ib-cards">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_600/v1698759528/WhatsApp_Image_2023-08-30_at_10.16.36_6_ymbzru.jpg", :quality=>'auto')%>
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_400/v1690558044/ib-4_mrfboq.jpg", :quality=>'auto')%>
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_400/v1690558044/ib-6_ho8zdw.jpg", :quality=>'auto')%>

    </div>
    <p>Los alumnos de los Colegios del Mundo del IB reciben una educación en la que:</p>
    <ul>
      <li>Se les anima a pensar críticamente y a resolver problemas complejos.</li>
      <li>Cursan programas educativos que pueden ayudarlos a ingresar en algunas de las universidades más prestigiosas del mundo.</li>
      <li>Pueden relacionarse con otras personas en un mundo cada vez más globalizado y cambiante.</li>
    </ul>
    <p>Se trata de una pedagogía que goza de reconocimiento por formar alumnos cuya motivación sea continuar indagando y aprendiendo durante toda su vida, incluso después de concluir sus estudios en el colegio.</p>
    <p>La educación que se imparte en los Colegios del Mundo del IB explora contenidos significativos, lo cual desarrolla una comprensión disciplinaria e interdisciplinaria que cumple con estándares internacionales rigurosos. Los profesores apoyan a los alumnos y potencian sus capacidades a medida que desarrollan los enfoques del aprendizaje necesarios para alcanzar el éxito académico y personal. La enseñanza y el aprendizaje en el IB celebran las muchas formas en que las personas trabajan juntas para construir significado y comprender el mundo.
    </p>
    <p>
      El colegio San Patricio forma parte de la Organización del Bachillerato Internacional desde 1988.Nuestro colegio fue pionero en ofrecer esta propuesta educativa de calidad en el interior del país y sigue siendo, al día de hoy, el único colegio de Tucumán que brinda esta oferta académica.
    </p>
    <p>Además, el Colegio San Patricio está apostando por implementar la pedagogía del IB en todos sus niveles educativos. Un enfoque curricular basado en conceptos, con preguntas de indagación, puntos de encuentro transdisciplinarios y un aprendizaje significativo basado en los intereses de los alumnos.</p>
    <div class="ib-cards">
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_600/v1698759528/WhatsApp_Image_2023-08-30_at_10.16.36_7_c10khp.jpg", :quality=>'auto')%>
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_400/v1690558044/ib-3_ubrr7l.jpg", :quality=>'auto')%>
      <%= cl_image_tag("https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_600/v1698760842/Trabajando_en_Biblioteca_mara6a.jpg", :quality=>'auto')%>
    </div>
    <p>En los programas del IB los estudiantes no solo aprenden datos, sino que desarrollan habilidades y alcanzan comprensiones conceptuales profundas, estableciendo conexiones entre las distintas áreas del conocimiento. Aprenden a pensar, a buscar distintos caminos para resolver un problema.
    </p>
    <p>Así, seguimos avanzando en la construcción de un continuo, una propuesta educativa coherente, articulada, potente, actualizada y desafiante para todos los estudiantes que transitan nuestras aulas desde el jardín de infantes hasta su graduación.</p>
    <p>El IB no es simplemente “un examen de inglés". Tampoco se limita a una serie de exámenes. Es un programa educativo que abarca todas las áreas del conocimiento: la lengua y la literatura, las humanidades, las ciencias, las matemáticas, las artes, la intervención socio-comunitaria y hasta la reflexión misma acerca del conocimiento. También queda claro que no es solo “un” programa: como vimos, es un continuo, una filosofía, una manera de enseñar y de aprender que va desde los tres años de edad hasta la finalización del nivel secundario.</p>
    <p class="pb-5">Esto es lo que hoy podemos ofrecer a las familias que eligen nuestro colegio. Además del excelente nivel académico y de la educación bilingüe que históricamente destacaron al Colegio San Patricio (y que siguen siendo un estandarte de la institución), el IB prepara y abre puertas en un mundo cada vez más complejo y desafiante.
    </p>
  </div>
</div>











