<%= render 'shared/navbar' %>
<h3 class="pt-5 pb-2 text-center font-weight-bold h1">Documentos</h3>
<div class="container pt-5 mb-5 pb-5">
  <div class="d-md-flex justify-content-between pb-5 mb-5">
    <div class="mr-md-3 pb-4">
      <% @document_category.uniq(&:category).each do |document|  %>
      <%= link_to document.category, documents_path(category: document.category), class: "rounded btn btn-block text-md-left", id: "btn-document" %>
      <% end %>
      <%= link_to "Todos", documents_path, class: "rounded btn btn-block text-md-left", id: "btn-document" %></p>
    </div>
    <div class="flex-grow-1">
      <% @documents.each do |document|  %>
      <%= render 'card', document: document %>
      <% end %>
    </div>
  </div>
  <div class="mt-5 pb-5">
    <%= paginate @documents %>
  </div>
</div>
