<div class="main-wrapper-event">
  <%= link_to event_path(event) do  %>
  <div class="main-event-container">
    <div class="main-event-img">
      <img src="<%= event.photo %>" alt="">
    </div>
    <div class="main-event-content">
      <div class="date-box">
        <p><%= event.date.strftime('%b') %></p>
        <p><%= event.date.strftime('%d') %></p>
      </div>
    </div>
    <div class="event-card-footer">
      <p>PIMARIO</p>
      <h2><%= event.title.truncate(28) %></h2>
      <h4><i class="far fa-clock"></i> <%= event.time.strftime('%H:%M') %></h4>
    </div>
  </div>
  <% end %>
</div>
