<%= render 'shared/main_navbar' %>
<br><br><br><br><br><br>
<%= simple_form_for (@post) do |f| %>
<p>importante no olvidar poner categoria</p>
<%= select_tag(:category_id, options_for_select(@categories), :prompt => "categorias") %>
<%= f.input :title %>
<%= f.input :content %>

<br><br>
<%= f.submit class:"btn btn-primary btn-lg btn-block" %>
<% end %>
