<%= render 'shared/main_navbar' %>
<div class="categories-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dw7ox75dg/image/upload/v1585588867/Captura_de_Pantalla_2020-03-30_a_la_s_12.36.43.png);">
  <h2><%= @category.title %></h2>
</div>
<div class="articles-navbar">
  notificaciones
</div>
<div class="post-index-container">
  <% @category.posts.each do |post| %>
  <div class="post-cards">
   <%= link_to post_path(post) do %>
   <div class="post-card-title">
     <h1><%= post.title %></h1>
     <p><%= post.created_at.strftime(' %d/%m/%y - %H/%M') %></p>
   </div>
   <div class="post-card-content">
    <p><%= post.content %></p>
  </div>
  <% end %>
</div>

<% end %>
</div>

